.alertClass {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.danger {
    color: darkred;
    border-color: darkred;
    background-color: red;
}

.success {
    color: darkslategray;
    border-color: darkolivegreen;
    background-color: green;
}