<form class="form-horizontal" [formGroup]="form"
      (ngSubmit)="submit(form.controls['email'].value, form.controls['password'].value)">
    <div class="form-group row">
        <label for="email" class="col-3">Email: </label>
        <input nbInput id="email" type="email"
               formControlName="email">
    </div>
    <div class="form-group row">
        <label for="pwd" class="col-3">Password: </label>
        <input nbInput id="pwd" type="password"
               formControlName="password">
    </div>
    <div class="form-group">
        <button nbButton class="offset-3">Se Connecter</button>
    </div>
</form>
