<p>Survolez "ici" pour incrémenter le compteur</p>
<span (mouseover)="onMouseOver()" >ici</span>
<p>Compteur : {{ maVariable }}</p>

<div>
    <p>Compteur 2 : {{ maVariable2 }}</p>
    <button nbButton 
            (click)="augmenter()"
            [disabled]="maVariable2 > 8"
            class="mr-2">+</button>   
    <button nbButton 
            (click)="diminuer()"
            [disabled]="maVariable2 < 1">-</button>   
</div>
