<nb-card>
    <nb-card-header (click)="onClick()">
        <nb-icon [icon]="collapse ? 'arrow-down' : 'arrow-up'"></nb-icon>
    </nb-card-header>
    <nb-card-body *ngIf="!collapse">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet et ad? Dolor, totam non. Ipsa perferendis magni quo iusto fugiat nihil expedita eos quia, ducimus impedit aspernatur at ab.</p>
    </nb-card-body>
</nb-card>
