<table class="table table-bordered text-light">
    <thead>
        <tr>
            <th>Date</th>
            <th>Subject</th>
        </tr>  
    </thead>
    <tbody>
        <tr *ngFor="let m of mails">
            <td>{{m.date | date: 'dd/MM/yyyy H:m:s'}}</td>
            <td (click)="selectMail(m)">{{m.subject}}</td>
        </tr>
    </tbody>
</table>
