<nb-card accent="danger">
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body>
        Etes-vous sûr de vouloir supprimer {{title}} ?
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="danger" 
                (click)="yes()">YES</button>
        <button nbButton status="info"
                (click)="no()">NO</button>
    </nb-card-footer>
</nb-card>
