<nb-card>
    <nb-card-header>
        <input nbInput (input)="prop1 = $event.target.value" 
               type="text">
    </nb-card-header>
    <nb-card-body>
        {{ prop1 }}
    </nb-card-body>
</nb-card>
