<nb-layout>

  <nb-layout-header>
    DEMO Technifutur - {{ title || 'Default Title' }}
  </nb-layout-header>

  <nb-sidebar>
    <app-nav></app-nav>
  </nb-sidebar>
  <nb-layout-column>
    <shared-loader></shared-loader>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    &copy;Technifutur - 2019
  </nb-layout-footer>

</nb-layout>
