

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
        <input nbInput type="email" formControlName="email"
               [status]="form.controls['email'].touched || form.controls['email'].dirty ? (form.controls['email'].valid ? 'success' : 'danger') : ''">
        <p class="text-danger" *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
            Pas Valide
        </p>
    </div>
    <div class="form-group">
        <input [nbDatepicker]="datepickerId" formControlName="birthDate">
        <nb-datepicker #datepickerId></nb-datepicker>
        <p *ngIf="!form.controls['birthDate'].valid && form.controls['birthDate'].touched">
                {{form.controls['birthDate'].errors['birthDate']}}
        </p>   
    </div>
    <div class="form-group">
        <input nbInput type="password" formControlName="password">
    </div>
    <div class="form-group">
        <input nbInput type="password" formControlName="confirmPassword">
    </div>
    <div class="form-group">
        <nb-checkbox formControlName="condAgreement"></nb-checkbox>
    </div>
    <div class="form-group">
        <button nbButton [disabled]="!form.valid">Envoyer</button>
    </div>
</form>
