<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let item of model?.data.results"
            [routerLink]="['/ex/ex2details', item.id]"
        >
            <img src="{{item.thumbnail.path}}/portrait_small.{{item.thumbnail.extension}}">
            {{item.name | titlecase}}
        </nb-list-item>
    </nb-list>
</nb-card>
