<!-- <ul>
    <li *ngFor="let item of contacts" [class]="item">{{item | uppercase}}</li>
</ul> -->
<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let item of contacts; let i = index; let odd = odd">
            {{i}} - {{item | uppercase}} - {{ odd ? 'impair' : 'pair' }}
        </nb-list-item>
    </nb-list>
</nb-card>
