<div class="row">
<div class="col">
    <app-ex3-master (mailChanged)="changeEmail($event)"></app-ex3-master>
</div>
<div class="col">
    <app-ex3-details [mail]="currentMail"></app-ex3-details>
</div>
</div>
