<nb-card>
    <nb-card-header>
        <input nbInput [(ngModel)]="name">
        <button nbButton outline status="info" 
                (click)="onAdd()"
                [disabled]="!name">+</button>
    </nb-card-header>
    <nb-card-body>
        <nb-card>
            <nb-list>
                <nb-list-item *ngFor="let item of articles; let odd = odd"
                              [ngClass]="{ 'odd' : odd, 'checked' : item.checked }"
                              (click)="check(item)">
                    {{item.name}} 
                    <button nbButton status="danger" size="tiny"
                            (click)="deleteItem(item)">
                        <nb-icon icon="trash-outline"></nb-icon>
                    </button>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </nb-card-body>
</nb-card>
